.main-box {
    margin-top: 7cm;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 1cm;
    margin-right: auto;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    width: 30cm;
    size: 10px;
    background-color: #219ebc;
    align-self: center;
    align-items: center;
  }

  .delete-box {
    margin-top: 1cm;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 1cm;
    margin-right: auto;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    width: 30cm;
    size: 10px;
    background-color: #fdb159;
    align-self: center;
    align-items: center;
  }

.form-control{
    width: 8cm;
    align-self: left;
    align-items: left;
    border: solid black 1.5px;
}
.add-mentor-text, .delete-mentor-text{
    font-size: 0.75cm;
    align-self: center;
    align-items: center;

}

  
.btn{
    width: 3cm;
    align-self: center;
    align-items: center;
}
/* 

#8ecae6: Light Blue
#219ebc: Teal Blue
#023047: Deep Navy Blue
#ffb703: Bright Yellow-Orange
#fb8500: Bright Orange
 */
