.carousel {
    margin: 7cm auto 0 auto;
    height: 13cm;
    border: solid black 2px;
    width: 30cm;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
}

.card-body {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}
.ugh{
    color: black !important;
}