/* .make-entry-form {
    margin: 8cm 4cm 2cm 4cm;
    height: auto;
    border: solid black 2px;
    width: 15cm;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 10px;
} */

.make-entry-form{
    border: black solid 2px;
    width: 10cm;
    background-color: #219ebc;
    display: flex;
    flex-direction: column;
    margin: auto; /* Automatically center the form horizontally */
    border-radius: 1cm;
    padding: 10px;
    position: relative; /* Change from absolute to relative */
    margin-top: 6cm; /* Add spacing above */
    margin-bottom: 5cm; /* Add spacing below */
}

.form-control-s1{
    width: 8cm;
    align-self: center;
    border-radius: 7px;
    background-color: azure;
    border: solid black 1px;
    padding-left: 1cm;
}

.entry-event-button{
margin-bottom: 10px;
}