form1 {
    border: black solid 2px;
    width: 10cm;
    background-color: #219ebc;
    display: flex;
    flex-direction: column;
    margin: auto; /* Automatically center the form horizontally */
    padding: 1cm;
    border-radius: 1cm;
    position: relative; /* Change from absolute to relative */
    margin-top: 6cm; /* Add spacing above */
    margin-bottom: 5cm; /* Add spacing below */
}

.event-name {
    margin-top: 15px;
}

.add-event-text-header {
    font-size: 0.75cm;
    margin-left: 4px;
    padding: 0px;
}

.add-event-text {
    padding: 2px;
    font-size: 17px;
}

.form-control-1, .form-select-1 {
    margin: 10px;
    margin-top: 2px;
    width: 8cm;
    align-self: center;
    border-radius: 7px;
    background-color: azure;
    border: solid black 1px;

}
.form-select-1{
    padding: 4px;
}

.event-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}